.board {
    margin: 40px auto auto auto;
}

.gameStatus, #btnPanel {
    margin: 100px 50px auto auto;
}

.menu-btn:active, .menu-btn:focus, .menu-btn:visited, #startBtn {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

@media only screen and (max-width: 600px) {
/*    body {
      background-color: lightblue;
    }*/

    #myBoard{
        width: 350px !important;
    }
  }