.board {
    margin: 40px auto auto 100px;
}

.menuSection {
    margin: 170px auto auto 150px;
    text-align: center;
}

#diffLevel {
    display: none;
    text-align: center;
}


/*html, body {
    background: rgb(165, 158, 158);
}*/

@media only screen and (max-width: 600px) {
/*    body {
      background-color: lightblue;
    }*/

    #myBoard{
        width: 350px !important;
    }
  }