.board {
    margin: 40px auto auto auto;
}

.gameStatus, #btnPanel {
    margin: 100px 50px auto auto;
}


/*html, body {
    background: rgb(165, 158, 158);
}*/

@media only screen and (max-width: 600px) {
/*    body {
      background-color: lightblue;
    }*/

    #myBoard{
        width: 350px !important;
    }
  }